[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sganji3-ford
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sganji3-ford
	label-Verified = -1..+1 group user/sganji3-ford
	push = group user/sganji3-ford
	read = group user/sganji3-ford
	rebase = group user/sganji3-ford
	removeReviewer = group user/sganji3-ford
	submit = group user/sganji3-ford
[access "refs/heads/*"]
	create = group user/sganji3-ford
	push = +force group user/sganji3-ford
	pushMerge = group user/sganji3-ford
	read = group user/sganji3-ford
[access "refs/tags/*"]
	push = group user/sganji3-ford
	push = +force group user/sganji3-ford
